<!DOCTYPE html>
<html>
<head>
<title>Quiz Smart</title>
</head>

<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href="/stylesheets/MainPage.css" rel="stylesheet">
<meta name="viewport" content="width=device-width">


<body>

<ul class="topnav" id="myTopnav">
  <li><img src="https://s3.amazonaws.com/quizsmart/QuizSmartIcon.png" alt="Logo" style="width:100px;height:17px;"></li>
  <li><a href="index">My Quizzes</a></li>
  <li><a href="#settings">Settings</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<ul class="quizlist" id="myQuiz" style="list-style-type:none">


</ul>

<div class="schedulebutton">
  <p><a href="#schedule"><b> SCHEDULE </b></a></p>
</div>

<div class="nameinput">
  <p> Name </p> <input type="text" name="fname" class="inputbox">
</div>


<div class="quizcard">
<div class="quizheader">
	<p><b>Question 1</b></p>
</div>
<div class="quizquestion">
	<p>Which Egyptian woman was considered as the inventor of agriculture? She married her brother and together they had a son: Horus.</p>
</div>
<div class="answerbutton"> 
	<a href="#answershowed"><b> Show Answer </b></a>
</div>



</div>

<div class="quizcard">
<div class="quizheader">
	<p><b>Question 2</b></p>
</div>
<div class="quizquestion">
	<p>Which company was establised in the year 1962 by Sam Walton and is one of the biggest employers in the world?</p>
</div>
<div class="answerbutton"> 
	<a href="#answershowed"><b> Show Answer </b></a>
</div>

</div>


<script src="/javascripts/MainPage.js"></script>

</body>
</html>