<!DOCTYPE html>
<html>
<head>
<title>Quiz Smart</title>
</head>

<meta name="viewport" content="width=device-width">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href="/stylesheets/MainPage.css" rel="stylesheet">


<body>

<ul class="topnav" id="myTopnav">
  <li><img src="https://s3.amazonaws.com/quizsmart/QuizSmartIcon.png" alt="Logo" style="width:100px;height:17px;"></li>
  <li><a href="index">My Quizzes</a></li>
  <li><a href="record">Record</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<p class="dummytext exp"> FAQ
<br>
<br> Why there is only five quiz sets ?
<br> Focus! The key word is to FOCUS. When you have too many quiz set your efficiency will drop. Five is the magic number that we see as the threshold. ( It is also not usual to take more than 5 classes a quarter .)
<br>
<br> Why can't I schedule the quiz time ?
<br> You don't have to ! We've already scheduled it for you. Everyday from 9am to 9pm. Simply disable a quizset if you don't want to receive quizzes anymore. 
<br> 
<br> Who made this app ? It's so cool !
<br> Team Four. The great team four.  
<br>
<br> 
<br>
<br>

</p>


<script src="/javascripts/MainPage.js"></script>

</body>
</html>