<!DOCTYPE html>
<html>
<head>
<title>Quiz Smart</title>
</head>

<meta name="viewport" content="width=device-width">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href="/stylesheets/MainPage.css" rel="stylesheet">


<body>

<ul class="topnav" id="myTopnav">
  <li><a href="index" class="icon"><img src="https://s3.amazonaws.com/quizsmart/QuizSmartIcon.png" alt="Logo" style="width:100px;height:17px; padding:0px;"></a></li>
  <li><a href="index">Home</a></li>
  <li><a href="record">Record</a></li>
    <li><a href="faq" class = "highlight">FAQ</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<p class="dummytext exp"> FAQ
<br>
<br> <b> Q: Why are there only five quiz sets? </b><br>
<br> A: Focus! One of the main elements our app promotes is focus. When you have too many quiz sets, your efficiency will drop. Five is a good number that we see as the threshold (It is also unusual to take more than 5 classes a quarter).
<br>
<br> <b> Q: Why can't I schedule the quiz time? </b><br>
<br> A: You don't have to! We've already scheduled it for you. Everyday from 9am to 9pm. Simply disable a quizset if you don't want to receive quizzes from that set anymore. 
<br> 
<br> <b> Q: Who made this app? It's so cool! </b><br>
<br> A: Team Four. The great team four. <br>Leon Zhou. <br>Jeong Lee.<br>Andrew Bartleman.<br>Bocun Liu : )
<br>
<br> <b> Q: I wish there was a simple way of distinguishing between my multiple sets of quizzes. <br>Will there be a "renaming" set feature in the future? <br>
</b><br> A: Yes! We are planning to implement this feature within the near future. It is a stretch goal.
<br>
<br>

</p>


<script src="/javascripts/MainPage.js"></script>

</body>
</html>