<!DOCTYPE html>
<html>
<head>
<title>Quiz Smart</title>
</head>

<meta name="viewport" content="width=device-width">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href="/stylesheets/MainPage.css" rel="stylesheet">


<body>

<div class="space long"></div>

<form role="form" method="get" action="/index">
<div class="adding">
   
      <div>
        <label for="name">Account:</label>
        <input type="text" class="inputbox gr" id="new_ques" placeholder="Phone/Email" name="new_ques">
      </div>
      <div>
        <label for="description">Password:</label>
        <input type="text" class="inputbox gr" id="new_answer" placeholder="Password" name="new_answer">
      </div>
      <input type="submit" class="inputbox submitbox"  value="Log Me In"></input>
</div>
</form>





<script src="/javascripts/MainPage.js"></script>

</body>
</html>