<!DOCTYPE html>
<html>
<head>
<title>Quiz Smart</title>
</head>

<meta name="viewport" content="width=device-width">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href="/stylesheets/MainPage.css" rel="stylesheet">


<body>

<ul class="topnav" id="myTopnav">
  <li><img src="https://s3.amazonaws.com/quizsmart/QuizSmartIcon.png" alt="Logo" style="width:100px;height:17px;"></li>
  <li><a href="index">My Quizzes</a></li>
  <li><a href="record">Record</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<div class="space"></div>

{{#each log}}

<div class="record">
  {{q}}<br>
  The correct answer is : {{a}}<br>
  {{res}}
</div>

{{/each}}

<div class="schedulebutton">
  <p><a href="/clear"><b> Clear Record </b></a></p>
</div>



<script src="/javascripts/MainPage.js"></script>

</body>
</html>