<!DOCTYPE html>
<html>
<head>
<title>Quiz Smart</title>
</head>

<meta name="viewport" content="width=device-width">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href="/stylesheets/MainPage.css" rel="stylesheet">


<body>

<ul class="topnav" id="myTopnav">
  <li><img src="https://s3.amazonaws.com/quizsmart/QuizSmartIcon.png" alt="Logo" style="width:100px;height:17px;"></li>
  <li><a href="index">My Quizzes</a></li>
  <li><a href="settings">Settings</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<div id='add_mon' class="answerbutton"> 
  <a href='' onclick=""><b> Monday </b></a>
</div>
<div id='add_tue' class="answerbutton"> 
  <a href='' onclick=""><b> Tuesday </b></a>
</div>
<div id='add_wed' class="answerbutton"> 
  <a href='' onclick=""><b> Wednesday </b></a>
</div>
<div id='add_thu'class="answerbutton"> 
  <a href='' onclick=""><b> Thursday </b></a>
</div>
<div id='add_fri' class="answerbutton"> 
  <a href='' onclick=""><b> Friday </b></a>
</div>
<div id='add_sat' class="answerbutton"> 
  <a href='' onclick=""><b> Saturday </b></a>
</div>
<div id='add_sun' class="answerbutton"> 
  <a href='' onclick=""><b> Sunday </b></a>
</div>


<form role="form" method="get" action='send_msg'>

<div class='testbox'>
        <input type="text" class="inputbox sr grr" id="new_phone" placeholder="Phone Number Here" name="new_phone">
</div>

<div id='test_question' class="testbox"> 
 		<input type="submit" class="inputbox submitbox"  value="Send Me Random Question Right Now"></input>
</div>

</form>


<p class="dummytext"> Tap on days to activate them. <br>Quiz time is 9am - 7pm everyday </p>


<script src="/javascripts/MainPage.js"></script>

</body>
</html>